<div class='main'>
  <div class='header'>
    <div class='balanceBlock'>
      <span class='balance'> Общий бюджет: {{this.project.balance}}</span>
      <a class='editBalance'>&#9998;</a>
    </div>
    <div class='rightBlock'>
      <a class='rightButton'>Выбрать проект</a>
      <a class='rightButton'>Изменить дату дедлайна</a>
      <LinkTo @route='home' class='rightButton'>Выйти</LinkTo>
    </div>
  </div>
  <div class='content'>
    <div class='column'>
      <div class='columnHeader'>
        <span class='headerTitle'>Персонал</span>
        <a class='addElement'>+</a>
      </div>
      <table class='table'>
        {{#each this.workers as |worker|}}
        <tr>
          <td class='el'> {{worker.title}} </td>
          <td> {{worker.value}} </td>
          <td><a class='deleteElement'>&#215;</a></td>
        </tr>
        {{/each}}
      </table>
    </div>
    <div class='column'>
      <div class='columnHeader'>
        <span class='headerTitle'>Техника</span>
        <a class='addElement'>+</a>
      </div>
      <table class='table'>
        {{#each this.equipments as |equipment|}}
        <tr>
          <td class='el'> {{equipment.title }}</td>
          <td> {{equipment.value}} </td>
          <td><a class='deleteElement'>&#215;</a></td>
        </tr>
        {{/each}}
      </table>
    </div>
    <div class='column'>
      <div class='columnHeader'>
        <span class='headerTitle'>Коммунальные услуги</span>
        <a class='addElement'>+</a>
      </div>
      <table class='table'>
        {{#each this.utilities as |utility|}}
        <tr>
          <td class='el'>{{utility.title}}</td>
          <td>{{utility.value}}</td>
          <td><a class='deleteElement'>&#215;</a></td>
        </tr>
        {{/each}}
      </table>
    </div>
    <div class='column'>
      <div class='columnHeader'>
        <span class='headerTitle'>Остальное</span>
        <a class='addElement'>+</a>
      </div>
      <table class='table'>
        {{#each this.others as |other|}}
        <tr>
          <td class='el'>{{other.title}}</td>
          <td>{{other.value}}</td>
          <td><a class='deleteElement'>&#215;</a></td>
        </tr>
        {{/each}}

      </table>
    </div>
  </div>
</div>
{{outlet}}